<?xml version='1.0' encoding='utf-8'?>
<widget id="com.ludodz.app" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Ludo DZ</name>
    <description>Ludo DZ — a themed multiplayer Ludo board game, packaged for Android via Cordova.</description>
    <content src="index.html" />
    <access origin="*" />
    <preference name="AndroidXEnabled" value="true" />
    <platform name="android">
        <preference name="android-minSdkVersion" value="24" />
        <preference name="GradleVersion" value="8.13" />
        <preference name="AndroidWindowSplashScreenBackground" value="#2EB9F0" />
        <preference name="AndroidWindowSplashScreenAnimatedIcon" value="res/splash/android/ludo_dz_splash.xml" />
        <preference name="AndroidWindowSplashScreenAnimationDuration" value="120" />
        <preference name="AndroidWindowSplashScreenAnimationDuration" value="200" />
        <icon density="ldpi" src="res/icon/android/ldpi.png" />
        <icon density="mdpi" src="res/icon/android/mdpi.png" />
        <icon density="hdpi" src="res/icon/android/hdpi.png" />
        <icon density="xhdpi" src="res/icon/android/xhdpi.png" />
        <icon density="xxhdpi" src="res/icon/android/xxhdpi.png" />
        <icon density="xxxhdpi" src="res/icon/android/xxxhdpi.png" />
    </platform>
</widget>
